h1 {
    text-align: center;
}

body {
    background-color: rgb(219, 219, 219);
    font-family: "Open Sans", sans-serif;
}

.result {
    margin: 1rem;
    padding: 1rem;
    max-width: 200px;
    background: #fff;
    border: 1px solid rgb(71, 68, 68);
    border-radius: 1rem;
}

.error {
    border: 1px solid #a50a0a; 
    padding: 1rem;
    color: #a50a0a;
    background:rgb(241, 187, 187);
    text-align: center;

}



form {
    background-color: white;
    border-radius: 0.8rem;
    padding: 1rem;
    margin: 2rem 6rem;
}

input {
    display: block;
    width: 100%;
    margin: 4px 0;
}

input[type=submit] {
    padding: 10px 20px;
    background-color: rgb(103, 124, 97);
    margin-top: 10px;
    border-radius: 12px;
    width: 120px;
    cursor: pointer;
    border: 1px solid #636262;
    color: #fff;
    font-size: 1rem;
    font-weight: bold;
}

fieldset {
    border: none;
}

.form-error {
    display: none;
    color: red;
    font-size: 0.9rem;
    margin-top: 2px;
    padding-bottom: 0.5rem;
}

.submitted {
    background: rgb(224, 230, 214);
    margin: 1rem 15rem;
    padding: 1rem;
    color: rgb(37, 150, 14);
    font-size: 25px;
    font-weight: bold;
    text-align: center;
    border-radius: 20px;
    border: solid 0.15rem;
}

.loader {
    border: 10px solid #f3f3f3;
    border-top: 16px solid #000000;
    border-radius: 50%;
    width: 100px;
    height: 100px;
    animation: spin 2s linear infinite;
    margin-left: 100px;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}